<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contact's Book{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand center-brand fs-2" href="{% url 'contact_list' %}">Contact's Book</a>
<!--        <a href="#" class="btn btn-success">Display</a>-->
    </nav>

    <div class="container-fluid main-container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>